@import url('https://fonts.xz.style/serve/inter.css');
@import url('https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css');

button {
  transition: all 0.15s ease-in-out;
  min-height: 42px;
}

section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

body {
  font-size: 1rem;
}

.truncate,
.truncate * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

@media screen and (min-width: 520px) {
  body {
    font-size: 1.025rem;
  }
}
